.posts-container {
  margin-top: 1rem;
}

.posts-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-post-button-container {
  display: flex;
  gap: 10px; /* 버튼 사이의 간격 */
  margin-bottom: 1rem;
  margin-top: 5vh;
}

.posts-button {
  background-color: transparent;
  color: darkred;
  border: 2px solid darkred;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  min-width: 150px; /* 버튼 최소 너비 */
  margin-bottom: 1rem;
  margin-right: 0; /* 오른쪽 마진 제거 */
}

.posts-button:hover {
  background-color: darkred;
  color: white;
  border: 2px solid darkred;
}

.posts-button:active {
  background-color: darkred !important;
  color: white;
  border: 2px solid darkred;
}

.posts-list {
  list-style-type: none;
  padding: 0;
}

.posts-list-item {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out; 
}

.posts-list-item:hover {
  color: #555 !important;
  transform: scale(1.05);
  border: 2px solid black; 
}

.posts-list-item:not(:first-child) {
  border-top: 1px solid #ddd;
}
.posts-list-item:not(:first-child):hover {
  border-top: 2px solid black;
}

.post-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-item-header-content {
  flex-grow: 1;
}

.post-item-header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vh; /* 추가된 마진 */
  margin-right: 2vh; /* 추가된 마진 */
}

.post-item-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.post-item-nickname {
  text-align: center;
}

.post-item-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Adjust the gap between icons if necessary */
}

.tech-stack-badge {
  height: 28px; /* Adjust the height if necessary */
  margin: 5px;
}

.selected-tech-stack-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 1rem;
  min-height: 40px; /* Adjust based on the height of the TechStackIcon */
}

.thumbsup-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  cursor: pointer;
  margin-right: 8px; /* Adjust spacing as needed */
  margin-bottom: 5px;
}
